body{
    margin: 0px;
    padding: 0px;
}

header{
    border: solid 3px black;
    height: 150px;
    width: 1100px;
    border-radius: 20px 20px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}

#nav_main{
    text-align: center;
}

#nav_logo{
    display: inline-block;
    width: 50px;
    height: 50px;
}

#nav_esq, #nav_dir{
    display: inline-block;
    background: white;
    width: 500px;
    height: 50px;
    text-transform: uppercase;
}

#nav_esq a, #nav_dir a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 7px;
}

#nav_esq a:hover, #nav_dir a:hover{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: red;
    font-weight: bold;
    transition: all 0.3s;
}

#nav_esq a:active, #nav_dir a:active{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.menu_atual{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: red !important; 
    font-weight: bold;
    padding: 7px;
}

main{
    border: solid 3px black;
    height: 500px;
    width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer{
    border: solid 3px black;
    background: white;
    height: 200px;
    width: 1100px;
    border-radius: 0px 0px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin: 0px 15px;
    padding: 40px 30px;
}

main div{
    display: inline-block;
    background: rgb(0, 113, 0);
    width: 100px;
    height: 100px;
    margin:  30px;
}

form{
    border-radius: 5px;
}